*.class

# Package Files #
*.jar
*.war
*.ear
/Server/nbproject/private/
/AdminClient/nbproject/private/
/Server/build/
/RestServer/nbproject/private/
/RestServer/build/
/RestServer/dist/
/AdminClient/build/
/XMPPClient/XMMPClient/nbproject/private/
/XMPPClient/XMMPClient/build/
/XMPPClient/XMMPClient/dist/